/* Style the navbar */
nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav img {
    width: 32px;
    height: 32px;
  }
  
  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Style the main content */
  main {
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  